---
export interface Props {
  prevPost?: any
  nextPost?: any
}
---

<div class="post-relative-link">
  <!-- Boş footer -->
</div>

<style>
  div.post-relative-link {
    margin-top: 2rem;
  }
</style>
